*.pyc
__pycache__
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist
build
*.whl
*.log
*.sqlite3
*.db
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.venv
.env
*.DS_Store
*.idea
*.vscode
*.ipynb_checkpoints
*.swp
