<!DOCTYPE html>
<html>
<head>
    <title>System Metrics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
</head>
<body>
    <h1>System Metrics</h1>
    <div id="metrics"></div>
    <hr>

    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', () => {
            console.log('Connected!');
            socket.emit('join', {device_type: 'web'});
        });

        socket.on('status', (data) => {
            console.log(data.msg);
        });

        socket.on('current_metrics_response', (data) => {
            const metricsDiv = document.getElementById('metrics');
            metricsDiv.innerHTML = `
                <p>CPU Usage: ${data.cpuUsage}%</p>
                <p>CPU Temp: ${data.cpuTemp}°C</p>
                <p>Memory Used: ${data.memUsed} bytes</p>
                <p>Network Sent: ${data.nwStatSent} bytes</p>
                <p>Network Received: ${data.nwStatRecv} bytes</p>
            `;
        });

        function getCurrentMetrics() {
            socket.emit('get_current_metrics');
        }

        getCurrentMetrics()
    </script>
</body>
</html>